.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-create{
  width: 450px;
}
.task-form {
  display: flex;
  flex-direction: column;
}
.task-label {
  margin-block: 10px;
}
.task-input {
  padding: 10px ;
  border: 1px solid gray;
  border-radius: 10px;
}
.task-btn {
  margin-block: 10px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid green;
  background-color: green;
  color: white;
  font-size: 20px;
}

