* {
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-create{
  width: 450px;
}
.task-update {
  width: 100%;
}
.task-form {
  display: flex;
  flex-direction: column;
}
.task-label {
  margin-block: 10px;
}
.task-input {
  padding: 10px ;
  border: 1px solid gray;
  border-radius: 10px;
}
.task-btn {
  margin-block: 10px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid green;
  background-color: green;
  color: white;
  font-size: 20px;
}
.update-btn {
  margin-block: 10px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid green;
  background-color: blueviolet;
  color: white;
  font-size: 20px;
}
.task-show {
  border: 1px solid gray;
  border-radius:6px ;
  display: flex;
  padding: 20px;
  flex-direction:column ;
  align-items: center;
  width: 350px;
  gap: 10px;
}
.task-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.task-delete {
  padding: 5px;
  font-size: 15px;
  background-color: red;
  color: white;
  border-radius:30px ;
  border:none;
  width: 60px;
  margin-right: 10px;
}
.task-edit {
  padding: 5px;
  font-size: 15px;
  background-color: green;
  color: white;
  border-radius:30px ;
  border:none;
  width: 100px;
  margin-right: 10px;
}
